.DS_Store
katts/.classpath
katts/.project
katts/.settings
katts/target
evaluation/.classpath
evaluation/.project
evaluation/.settings
evaluation/target
evaluation/bin
evaluation/bin/*
evaluation/target/*
evaluation/evaluation/bin/target/classes/META-INF/maven/katts/evaluation/pom.properties
katts/data/test.lorenz.output.OneFieldJoin.csv
katts/data/test.lorenz.output.RegularJoin.csv
katts/data/.DS_Store
katts/data/test.lorenz.output.SameValueJoin.csv
katts/data/test.lorenz.output.csv
katts/data/output.csv
submission_environment/experiments/*
submission_environment/sample_experiment/evaluation/*
submission_environment/sample_experiment/tmp/*
submission_environment/dependencies/bin/*

