katts/.classpath
katts/.project
katts/.settings
katts/target
evaluation/.classpath
evaluation/.project
evaluation/.settings
evaluation/target
evaluation/bin
evaluation/bin/*
evaluation/target/*
evaluation/evaluation/bin/target/classes/META-INF/maven/katts/evaluation/pom.properties

